/* @import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 18px;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
        "header"
        "filter"
        "main"
        "paginador"
        "footer";
}

header {
    grid-area: header;
    background-color: #c7e4ea;
    color: hwb(0 9% 91%);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

header p i {
    color: #8f81d7;
}

p {
    font-family: 'Oldenburg', cursive;
}

filter {
    grid-area: filter;
    background-color: #c7e4ea;
    font-family: 'Suravaram', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.filter__select {
    width: 60%;
    font-family: 'IM Fell Double Pica SC', serif;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: rgb(217, 222, 230);
    overflow: auto;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-top: 1em;
}

li {
    font-size: 1em;
    list-style: none;
    font-family: 'Mukta', sans-serif;
}

li:hover {
    cursor: pointer;
    color: rgb(234, 66, 226);
}

.paginador {
    grid-area: paginador;
    display: flex;
    justify-content: center;
    gap: 2px;
}

footer {
    grid-area: footer;
    background-color: #c7e4ea;
    color: #9c7492;
    text-align: center;
    font-family: 'PT Mono', monospace;
}

.container-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Galeria de imagenes */
.galeria {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 120;
}


.contenedor-imagenes {
    display: inline-block;
    margin-left: 120px;
}

.contenedor-imagenes .imagen {
    width: 50%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgb(243, 54, 234);
}

.imagen img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.imagen img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.header__menu {
    display: none;
}

/* -L O G O  S V G - */
.logo {
    display: block;
    width: 100px;
    min-width: 500px;
    margin: 60px auto;
}

#Aro1 {
    animation-name: planeta;
    animation-duration: 3s;
}

#Aro2 {
    animation-name: planeta;
    transform: traslate (37%, 26%);
    animation: planeta 3s both;
}

#Aro3 {
    animation-name: planeta;
    animation-duration: 3s;
}

#planet {
    animation-name: planeta;
    transform: traslate (37%, 26%);
    animation: planeta 3.5s both;
}

#Estrella {
    animation-name: planeta;
    animation-duration: 3s;
}

@keyframes planeta {
    0% {
        transform: scale(.3);
    }

    10% {
        transform: scale(.4);
    }

    0% {
        transform: traslateX(0);
    }

    10% {
        transform: traslateX(100%);
    }
}


@media(min-width: 576px) {
    .grid {

        grid-template-areas:
            "header filter"
            "header main"
            "footer paginador";
    }

    main {
        grid-area: main;
        overflow: auto;
    }

    .galeria {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .contenedor-imagenes {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 3px;
    }

    .imagen img:hover {
        filter: grayscale(0%);
        transform: scale(1.05);
    }

    .imagen img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
    }


    .d-none {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .header__menu {
        display: inline-block;
        margin-top: 30px;
    }

    .header__menu li {
        list-style: none;
    }

    .paginador {
        margin-left: 350px;
        margin-right: auto;
    }

    /* -L O G O  S V G - */
    .logo {
        display: block;
        width: 40px;
        min-width: 50px;
        margin: 40px auto;
        align-items: center;
    }

    #Aro1 {
        animation-name: planeta;
        animation-duration: 3s;
    }

    #Aro2 {
        animation-name: planeta;
        transform: traslate (37%, 26%);
        animation: planeta 3s both;
    }

    #Aro3 {
        animation-name: planeta;
        animation-duration: 3s;
    }

    #planet {
        animation-name: planeta;
        transform: traslate (37%, 26%);
        animation: planeta 3.5s both;
    }

    #Estrella {
        animation-name: planeta;
        animation-duration: 3s;
    }

    @keyframes planeta {
        0% {
            transform: scale(.3);
        }

        10% {
            transform: scale(.4);
        }

        0% {
            transform: traslateX(0);
        }

        10% {
            transform: traslateX(100%);
        }
    }
}